@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display:ital@0;1&display=swap");

.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a9fad3;
  /* background: #1f4037; */
  background-color: #b9d6cf;
  /* background: linear-gradient(to right, #1f4037, #1f4037); */
  height: 100vh;
}

.left {
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.left h3 {
  text-transform: uppercase;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  color: rgb(124, 122, 122);
}
.left h1 {
  width: 400px;
  font-family: sans-serif;
  font-weight: 500;
}

.left ul {
  margin-left: -1.5rem;
}
.left ul li {
  color: rgb(63, 62, 62);
  list-style: none;
}
.left ul li::before {
  content: "▶";
  font-size: 16px;
  margin-right: 1rem;
}

.left button {
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 10px 16px;
  border-radius: 12px;
  background: #1f4037;
  background: linear-gradient(to right, #80c5a5, #1f4037);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.left button:hover {
  cursor: pointer;
  background: #1f4037;
  background: linear-gradient(to right, #1f4037, #99f2c8);
}

.right {
  height: 500px;
}
.right img {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
