.nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.nav h3 {
  margin-left: 2rem;
  color: rgba(143, 143, 143, 0.933);
  font-family: sans-serif;
}
.nav i {
  color: rgb(124, 122, 122);
  margin-right: 2rem;
}

.nav i:hover {
  cursor: pointer;
}
