.satisfaction {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 3rem 160px;
}
.satisfaction h3 {
  width: 380px;
  color: #1f4037;
  font-size: 38px;
  margin-top: 2.8rem;
}

.satisfaction p {
  width: 580px;
  font-size: 17px;
  margin-top: -1rem;
}

/* cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0 140px;
}

.card {
  width: 370px;
  height: 370px;
  margin-top: 1rem;
  padding: 1rem;
}

.card span {
  font-size: 2rem;
  color: #3b967d;
  margin: 4rem 0;
}

.card p {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  color: grey;
  letter-spacing: 1px;
  width: 280px;
  line-height: 1.6;
}
